.about-company {
  padding: 24px 0 40px;
}

.about-company .container {
  background-color: var(--white);
}

.about-company__title {
  font-size: 28px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #030718;
}

.about-company-text {
  line-height: 1.25;
  opacity: 0.8;
  width: 340px;
  color: #030718;
}

.container p.about-company-text:nth-of-type(1) {
  margin-bottom: 20px;
}

@media (min-width: 1440px) {
  .about-company {
    padding: 0;
  }

  .about-company .container {
    padding: 0;
    min-width: 413px;
  }

  .about-company__title {
    font-size: 44px;
    line-height: 1.27;
    margin-bottom: 40px;
  }

  .about-company-text {
    width: 413px;
  }
}
