.numbers {
  padding: 48px 0;
}

.numbers .container {
  background-color: var(--white);
  display: grid;
  gap: 40px;
}

.numbers__title {
  font-size: 28px;
  line-height: 129%;
  letter-spacing: -0.04em;
  margin-bottom: 2px;
  color: #000;
}

.numbers__title-text {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.04em;
  opacity: 0.5;
  color: #000;
}

.numbers__list {
  display: flex;
  gap: 32px 65px;
  flex-wrap: wrap;
}

.numbers__item {
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
  opacity: 0.8;
  display: grid;
  gap: 4px;
  width: 112px;
}

.width {
  width: 147px;
}

.numbers__item-span {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: var(--purple);
}

@media (min-width: 1440px) {
  .numbers .container {
    display: flex;
    gap: 156px;
  }

  .numbers__title {
    font-size: 44px;
    line-height: 1.27;
    margin-bottom: 4px;
  }

  .numbers__list {
    align-items: end;
    gap: 0;
  }

  .numbers__item {
    width: auto;
  }

  .numbers__list .numbers__item:nth-child(1) {
    margin-right: 129px;
  }

  .numbers__list .numbers__item:nth-child(2) {
    margin-right: 73px;
  }

  .numbers__item-span {
    font-size: 60px;
  }
}
