.tradeblade .container {
  padding: 56px 16px 71px 16px;
  display: grid;
  gap: 40px;
}

.tradeblade__title {
  font-size: 28px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white);
}

.tradeblade__list {
  display: grid;
  gap: 32px;
}

.tradeblade__item {
  display: flex;
  /* justify-content: space-between; */
  gap: 32px;
}

.tradeblade__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.04em;
  color: var(--white);
  margin-bottom: 8px;
}

.tradeblade__text {
  font-size: 14px;
  line-height: 1.21;
  color: var(--white);
  opacity: 0.8;
}

@media (min-width: 1440px) {
  .tradeblade .container {
    padding: 96px 80px;
    display: flex;
    gap: 176px;
  }

  .tradeblade__title {
    font-size: 44px;
    line-height: 1.27;
  }

  .tradeblade__list {
    display: flex;
    flex-wrap: wrap;
    gap: 56px 21px;
  }

  .tradeblade__item {
    width: 410px;
  }

  .tradeblade__item-title {
    font-size: 28px;
    line-height: 1.29;
  }

  .tradeblade__text {
    font-size: 16px;
    line-height: 1.25;
  }
}
