<section class="copy-deals" id="copy-deals">
  <div class="container">
    <div class="copy-deals__container">
      <div class="copy-deals__picture">
        <picture>
          <source
            media="(max-width:1439px)"
            srcset="
              /img/copydeals/mobile/ETH1x.png 1x,
              /img/copydeals/mobile/ETH2x.png 2x
            "
          />
          <source
            media="(min-width:1440px)"
            srcset="
              /img/copydeals/Desktop/ETH1x.png 1x,
              /img/copydeals/Desktop/ETH2x.png 2x
            "
          />
          <img
            class="copy-deals__img"
            src="/img/copydeals/mobile/ETH2x.png"
            alt="ETH/USDT photo"
          />
        </picture>
      </div>

      <div class="copy-deals__title-form">
        <h1 class="copy-deals__title">
          МОМЕНТАЛЬНО КОПИРУЙ СДЕЛКИ ПРОФИ ТРЕЙДЕРОВ
        </h1>
        <p class="copy-deals__text">
          Начни копировать сделки с успешной командой профессиональных трейдеров
          в автоматическом режиме.
        </p>

        <form class="copy-deals__form">
          <input
            class="form__email"
            type="email"
            name="form-email"
            placeholder="ВАШ E-MAIL"
            autocomplete="off"
          />

          <button class="form__btn" type="submit">
            <span class="form__btn-start">НАЧАТЬ</span>
          </button>
        </form>

        <p class="copy-deals__info">5 дней бесплатного пользования</p>
      </div>
    </div>
  </div>
</section>
