<section class="free">
  <div class="container">
    <div class="free__container">
      <h3 class="free__title">
        Попробуйте сейчас и получите 5 дней бесплатного пользования
      </h3>

      <div class="free__container-form-btn">
        <form class="free__form">
          <input
            class="free__form-email"
            type="email"
            name="form-email"
            placeholder="ВАШ E-MAIL"
            autocomplete="off"
          />
          <button class="free__form-btn" type="submit">
            <span class="free__span-btn">попробовать</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
