<section class="how-use" id="how-use">
  <div class="container">
    <h2 class="how-use__title">Как начать пользоваться сервисом</h2>

    <ul class="how-use__list">
      <li class="how-use__item">
        <h3 class="how-use__item-title">Создайте аккаунт</h3>
        <p class="how-use__text">
          Начните бесплатную 3-дневную пробную версию. Кредитная карта не
          требуется.
        </p>
      </li>

      <li class="how-use__item">
        <h3 class="how-use__item-title">Подключить обмен API ключами</h3>
        <p class="how-use__text">
          Просто вставьте свои ключи API из личного кабинета.
        </p>
      </li>

      <li class="how-use__item">
        <h3 class="how-use__item-title">Настройте аккаунт</h3>
        <p class="how-use__text">
          Поставьте нужные настройки депозита на каждый сигнал и нажмите
          сохранить.
        </p>
      </li>

      <li class="how-use__item">
        <h3 class="how-use__item-title">Ваш копитрейдер запущен</h3>
        <p class="how-use__text">
          Просто расслабьтесь и начните получать пассивный доход от криптовалюты
          с помощью TradeBlade
        </p>
      </li>
    </ul>

    <div class="how-use__btn">
      <a class="how-use__link" href="#">Попробовать бесплатно</a>
    </div>
  </div>
</section>
