<section class="past-transactions">
  <div class="container">
    <h2 class="past-transactions__title">Прошедшие сделки</h2>
    <p class="past-transactions__title-text">Онлайн</p>

    <ul class="past-transactions__list">
      <li class="past-transactions__item">
        <div class="past-transactions__container">
          <div>
            <p class="past-transactions__item-NEAR-USDT">
              NEAR/USDT
              <span class="text__NEAR-USDT">SPOT · 1 мин. назад</span>
            </p>
            <p class="past-transactions__item-profit">
              Прибыль
              <div class="past-transactions__container-icon-profit">
                <span class="text__profit">58.6206%</span>
                <svg class="past-transactions__icon">
                    <use href="/img/icons.svg#icon-arrow-thin-up"></use>
                  </svg>
              </div>
            </p>
          </div>
          <div class="past-transactions__container-icon-logo">
            <svg class="past-transactions__icons-logo">
              <use href="/img/icons.svg#icon-logo-Profit"></use>
            </svg>
          </div>
        </div>
        <p class="past-transactions__item-target">
          <span>Цель 4</span>
          <span class="text__target">Дата входа 06.10.2022</span>
        </p>
      </li>

      <li class="past-transactions__item">
        <div class="past-transactions__container">
          <div>
            <p class="past-transactions__item-NEAR-USDT">
              BTC/USDT
              <span class="text__NEAR-USDT">SPOT · 1 мин. назад</span>
            </p>
            <p class="past-transactions__item-profit">
              Прибыль
              <div class="past-transactions__container-icon-profit">
                <span class="text__profit">6.02%</span>
                <svg class="past-transactions__icon">
                    <use href="/img/icons.svg#icon-arrow-thin-up"></use>
                  </svg>
              </div>
            </p>
          </div>
          <div class="past-transactions__container-icon-logo">
            <svg class="past-transactions__icons-logo">
              <use href="/img/icons.svg#icon-logo-Profit"></use>
            </svg>
          </div>
        </div>
        <p class="past-transactions__item-target">
          <span>Цель 3</span>
          <span class="text__target">Дата входа 06.10.2022</span>
        </p>
      </li>

      <li class="past-transactions__item">
        <div class="past-transactions__container">
          <div>
            <p class="past-transactions__item-NEAR-USDT">
              ETH/USDT
              <span class="text__NEAR-USDT">SPOT · 1 мин. назад</span>
            </p>
            <p class="past-transactions__item-profit">
              Прибыль
              <div class="past-transactions__container-icon-profit">
                <span class="text__profit">16.3%</span>
                <svg class="past-transactions__icon">
                    <use href="/img/icons.svg#icon-arrow-thin-up"></use>
                  </svg>
              </div>
            </p>
          </div>
          <div class="past-transactions__container-icon-logo">
            <svg class="past-transactions__icons-logo">
              <use href="/img/icons.svg#icon-logo-Profit"></use>
            </svg>
          </div>
        </div>
        <p class="past-transactions__item-target">
          <span>Цель 4</span>
          <span class="text__target">Дата входа 06.10.2022</span>
        </p>
      </li>

      <li class="past-transactions__item">
        <div class="past-transactions__container">
          <div>
            <p class="past-transactions__item-NEAR-USDT">
              NEAR/USDT
              <span class="text__NEAR-USDT">SPOT · 1 мин. назад</span>
            </p>
            <p class="past-transactions__item-profit">
              Прибыль
              <div class="past-transactions__container-icon-profit">
                <span class="text__profit">0.963%</span>
                <svg class="past-transactions__icon">
                    <use href="/img/icons.svg#icon-arrow-thin-up"></use>
                  </svg>
              </div>
            </p>
          </div>
          <div class="past-transactions__container-icon-logo">
            <svg class="past-transactions__icons-logo">
              <use href="/img/icons.svg#icon-logo-Profit"></use>
            </svg>
          </div>
        </div>
        <p class="past-transactions__item-target">
          <span>Цель 4</span>
          <span class="text__target">Дата входа 06.10.2022</span>
        </p>
      </li>

      <li class="past-transactions__item">
        <div class="past-transactions__container">
          <div>
            <p class="past-transactions__item-NEAR-USDT">
              NEAR/USDT
              <span class="text__NEAR-USDT">SPOT · 1 мин. назад</span>
            </p>
            <p class="past-transactions__item-profit">
              Прибыль
              <div class="past-transactions__container-icon-profit">
                <span class="text__profit">58.6206%</span>
                <svg class="past-transactions__icon">
                    <use href="/img/icons.svg#icon-arrow-thin-up"></use>
                  </svg>
              </div>
            </p>
          </div>
          <div class="past-transactions__container-icon-logo">
            <svg class="past-transactions__icons-logo">
              <use href="/img/icons.svg#icon-logo-Profit"></use>
            </svg>
          </div>
        </div>
        <p class="past-transactions__item-target">
          <span>Цель 4</span>
          <span class="text__target">Дата входа 06.10.2022</span>
        </p>
      </li>

      <li class="past-transactions__item">
        <div class="past-transactions__container">
          <div>
            <p class="past-transactions__item-NEAR-USDT">
              NEAR/USDT
              <span class="text__NEAR-USDT">SPOT · 1 мин. назад</span>
            </p>
            <p class="past-transactions__item-profit">
              Прибыль
              <div class="past-transactions__container-icon-profit">
                <span class="text__profit">58.6206%</span>
                <svg class="past-transactions__icon">
                    <use href="/img/icons.svg#icon-arrow-thin-up"></use>
                  </svg>
              </div>
            </p>
          </div>
          <div class="past-transactions__container-icon-logo">
            <svg class="past-transactions__icons-logo">
              <use href="/img/icons.svg#icon-logo-Profit"></use>
            </svg>
          </div>
        </div>
        <p class="past-transactions__item-target">
          <span>Цель 4</span>
          <span class="text__target">Дата входа 06.10.2022</span>
        </p>
      </li>

      <li class="past-transactions__item">
        <div class="past-transactions__container">
          <div>
            <p class="past-transactions__item-NEAR-USDT">
              NEAR/USDT
              <span class="text__NEAR-USDT">SPOT · 1 мин. назад</span>
            </p>
            <p class="past-transactions__item-profit">
              Прибыль
              <div class="past-transactions__container-icon-profit">
                <span class="text__profit">58.6206%</span>
                <svg class="past-transactions__icon">
                    <use href="/img/icons.svg#icon-arrow-thin-up"></use>
                  </svg>
              </div>
            </p>
          </div>
          <div class="past-transactions__container-icon-logo">
            <svg class="past-transactions__icons-logo">
              <use href="/img/icons.svg#icon-logo-Profit"></use>
            </svg>
          </div>
        </div>
        <p class="past-transactions__item-target">
          <span>Цель 4</span>
          <span class="text__target">Дата входа 06.10.2022</span>
        </p>
      </li>

      <li class="past-transactions__item">
        <div class="past-transactions__container">
          <div>
            <p class="past-transactions__item-NEAR-USDT">
              NEAR/USDT
              <span class="text__NEAR-USDT">SPOT · 1 мин. назад</span>
            </p>
            <p class="past-transactions__item-profit">
              Прибыль
              <div class="past-transactions__container-icon-profit">
                <span class="text__profit">58.6206%</span>
                <svg class="past-transactions__icon">
                    <use href="/img/icons.svg#icon-arrow-thin-up"></use>
                  </svg>
              </div>
            </p>
          </div>
          <div class="past-transactions__container-icon-logo">
            <svg class="past-transactions__icons-logo">
              <use href="/img/icons.svg#icon-logo-Profit"></use>
            </svg>
          </div>
        </div>
        <p class="past-transactions__item-target">
          <span>Цель 4</span>
          <span class="text__target">Дата входа 06.10.2022</span>
        </p>
      </li>

      <li class="past-transactions__item">
        <div class="past-transactions__container">
          <div>
            <p class="past-transactions__item-NEAR-USDT">
              NEAR/USDT
              <span class="text__NEAR-USDT">SPOT · 1 мин. назад</span>
            </p>
            <p class="past-transactions__item-profit">
              Прибыль
              <div class="past-transactions__container-icon-profit">
                <span class="text__profit">58.6206%</span>
                <svg class="past-transactions__icon">
                    <use href="/img/icons.svg#icon-arrow-thin-up"></use>
                  </svg>
              </div>
            </p>
          </div>
          <div class="past-transactions__container-icon-logo">
            <svg class="past-transactions__icons-logo">
              <use href="/img/icons.svg#icon-logo-Profit"></use>
            </svg>
          </div>
        </div>
        <p class="past-transactions__item-target">
          <span>Цель 4</span>
          <span class="text__target">Дата входа 06.10.2022</span>
        </p>
      </li>
    </ul>
  </div>
</section>
