<section class="questions">
  <div class="container">
    <h2 class="questions__title">часто задаваемые вопросы</h2>
    <ul class="acc-container">
      <li class="ac">
        <h5 class="ac-header">
          <button type="button" class="ac-trigger">
            Что такое TradeBlade
            <svg class="icon-close" width="14" height="8">
              <use href="/img/icons.svg#icon-arr-down"></use>
            </svg>
          </button>
        </h5>
        <div class="ac-panel">
          <p class="text-acc">
            Мы опытная команда, для которой трейдинг – профессия. TradeBlade
            является авторизованным официальным брокером биржи Binance.
          </p>
          <p class="text-acc">
            Он представляет пользователям множество преимуществ, таких как более
            високая скорость синхронизации API и возможность создать учетную
            запись Binance через платформу TradeBlade всего в 1 клик.
          </p>
        </div>
      </li>

      <li class="ac">
        <h5 class="ac-header">
          <button type="button" class="ac-trigger">
            Что TradeBlade предлагает инвесторам
            <svg class="icon-close" width="14" height="8">
              <use href="/img/icons.svg#icon-arr-down"></use>
            </svg>
          </button>
        </h5>
        <div class="ac-panel">
          <p class="text-acc">
            Мы опытная команда, для которой трейдинг – профессия. TradeBlade
            является авторизованным официальным брокером биржи Binance.
          </p>
        </div>
      </li>

      <li class="ac">
        <h5 class="ac-header">
          <button type="button" class="ac-trigger">
            Должен ли я перевести свои средства на TradeBlade
            <svg class="icon-close" width="14" height="8">
              <use href="/img/icons.svg#icon-arr-down"></use>
            </svg>
          </button>
        </h5>
        <div class="ac-panel">
          <p class="text-acc">
            Мы опытная команда, для которой трейдинг – профессия. TradeBlade
            является авторизованным официальным брокером биржи Binance.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
