<section class="tariffs" id="tariffs">
  <div class="container">
    <h2 class="tariffs__title">Тарифы</h2>
    <div class="tariffs__container-btn">
      <button type="button" class="tariffs__btn-spot">СПОТ</button>
      <button type="button" class="tariffs__btn-futures">фьючерс</button>
    </div>
    <div class="tariffs__container-card">
      <div class="tariffs__card">
        <h4 class="tariffs__card-title">STANDART</h4>
        <ul class="tariffs__card-list tariffs__card-list-standart">
          <li class="tariffs__card-item">
            <svg class="tariffs__card-icon" width="12" height="12">
              <use href="./img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="tariffs__card-text">Ручной трейдинг</p>
          </li>

          <li class="tariffs__card-item">
            <svg class="tariffs__card-icon" width="12" height="12">
              <use href="./img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="tariffs__card-text">
              Автоматическое или полуавтоматическое копирование сделок
            </p>
          </li>

          <li class="tariffs__card-item">
            <svg class="tariffs__card-icon" width="12" height="12">
              <use href="./img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="tariffs__card-text">Личный кабинет со статистикой</p>
          </li>

          <li class="tariffs__card-item">
            <svg class="tariffs__card-icon" width="12" height="12">
              <use href="./img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="tariffs__card-text">
              Среднесрочные сделки с уровнями набора портфеля
            </p>
          </li>
        </ul>

        <div class="tariffs__containe-price-discount-selected">
          <div class="tariffs__container-price-discount">
            <p class="tariffs__card-price">$234</p>
            <p class="tariffs__card-discount">-35%</p>
          </div>

          <div
            class="tariffs__container-selected"
            id="tariffs__container-selected-standart"
          >
            <div
              class="tariffs__container-selected-close"
              id="tariffs__selected-id-standart"
            >
              <p class="tariffs__container-selected-text">12 месяцев</p>
              <svg
                class="tariffs__selected-icon-arr-down"
                width="14"
                height="8"
              >
                <use href="/img/icons.svg#icon-arr-down"></use>
              </svg>
            </div>

            <ul
              class="tariffs__container-selected-list"
              id="tariffs__container-selected-list-id-standart"
            >
              <li class="tariffs__container-selected-item">3 месяцев</li>
              <li class="tariffs__container-selected-item">6 месяцев</li>
              <li class="tariffs__container-selected-item">12 месяцев</li>
            </ul>
          </div>
        </div>

        <div class="tariffs__card-biv-link">
          <a class="tariffs__card-link" href="#"
            ><span>ПОПРОБОВАТЬ</span>
            <span class="tariffs__card-link-span">5 дней бесплатн</span></a
          >
        </div>
      </div>

      <div class="tariffs__card" id="tariffs__card-vip">
        <h4 class="tariffs__card-title">VIP</h4>
        <ul class="tariffs__card-list">
          <li class="tariffs__card-item">
            <svg class="tariffs__card-icon" width="12" height="12">
              <use href="./img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="tariffs__card-text">Ручной трейдинг</p>
          </li>

          <li class="tariffs__card-item">
            <svg class="tariffs__card-icon" width="12" height="12">
              <use href="./img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="tariffs__card-text">
              Автоматическое или полуавтоматическое копирование сделок
            </p>
          </li>

          <li class="tariffs__card-item">
            <svg class="tariffs__card-icon" width="12" height="12">
              <use href="./img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="tariffs__card-text">Личный кабинет со статистикой</p>
          </li>

          <li class="tariffs__card-item">
            <svg class="tariffs__card-icon" width="12" height="12">
              <use href="./img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="tariffs__card-text">
              Краткосрочные, среднесрочные и инвест сделки
            </p>
          </li>

          <li class="tariffs__card-item">
            <svg class="tariffs__card-icon" width="12" height="12">
              <use href="./img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="tariffs__card-text">Доступ в Vip чат с командой</p>
          </li>

          <li class="tariffs__card-item">
            <svg class="tariffs__card-icon" width="12" height="12">
              <use href="./img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="tariffs__card-text">Наш авторский курс по трейдингу</p>
          </li>
        </ul>

        <div class="tariffs__containe-price-discount-selected">
          <div class="tariffs__container-price-discount">
            <p class="tariffs__card-price">$585</p>
            <p class="tariffs__card-discount">-35%</p>
          </div>

          <div
            class="tariffs__container-selected"
            id="tariffs__container-selected-vip"
          >
            <div
              class="tariffs__container-selected-close"
              id="tariffs__selected-id-vip"
            >
              <p class="tariffs__container-selected-text">12 месяцев</p>
              <svg
                class="tariffs__selected-icon-arr-down"
                width="14"
                height="8"
              >
                <use href="/img/icons.svg#icon-arr-down"></use>
              </svg>
            </div>

            <ul
              class="tariffs__container-selected-list"
              id="tariffs__container-selected-list-id-vip"
            >
              <li class="tariffs__container-selected-item">3 месяцев</li>
              <li class="tariffs__container-selected-item">6 месяцев</li>
              <li class="tariffs__container-selected-item">12 месяцев</li>
            </ul>
          </div>
        </div>

        <div class="tariffs__card-biv-link">
          <a class="tariffs__card-link" href="#"
            ><span>ПОПРОБОВАТЬ</span>
            <span class="tariffs__card-link-span">5 дней бесплатн</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
