<section class="tradeblade">
  <div class="container">
    <h2 class="tradeblade__title">tradeblade это</h2>
    <ul class="tradeblade__list">
      <li class="tradeblade__item">
        <div class="tradeblade__item-icon">
          <svg class="tradeblade__icon" width="56" height="56">
            <use href="./img/icons.svg#icon-trading"></use>
          </svg>
        </div>
        <div class="tradeblade__item-title-text">
          <h3 class="tradeblade__item-title">Копи–трейдинг 24/7</h3>
          <p class="tradeblade__text">
            Copy–Trading позволяет следить за сделками команды и получать
            прибыль 24/7 без каких–либо усилий или проблем для вас.
          </p>
        </div>
      </li>

      <li class="tradeblade__item">
        <div class="tradeblade__item-icon">
          <svg class="tradeblade__icon" width="56" height="56">
            <use href="./img/icons.svg#icon-trading2"></use>
          </svg>
        </div>
        <div class="tradeblade__item-title-text">
          <h3 class="tradeblade__item-title">
            Торговля спотовыми и фьючерсными сделками
          </h3>
          <p class="tradeblade__text">
            Платформа для копи–трейдинга поддерживает торговлю как спотовыми,
            так и фьючерсными сделками на Binance.
          </p>
        </div>
      </li>

      <li class="tradeblade__item">
        <div class="tradeblade__item-icon">
          <svg class="tradeblade__icon" width="56" height="56">
            <use href="./img/icons.svg#icon-trading3"></use>
          </svg>
        </div>
        <div class="tradeblade__item-title-text">
          <h3 class="tradeblade__item-title">Высокая прибыль каждий день</h3>
          <p class="tradeblade__text">
            Каждая сделка показывает хорошие результаты на рынках за счет
            хорошего денежного и риск менеджмента.
          </p>
        </div>
      </li>

      <li class="tradeblade__item">
        <div class="tradeblade__item-icon">
          <svg class="tradeblade__icon" width="56" height="56">
            <use href="./img/icons.svg#icon-trading4"></use>
          </svg>
        </div>
        <div class="tradeblade__item-title-text">
          <h3 class="tradeblade__item-title">Собственный курс по трейдингу</h3>
          <p class="tradeblade__text">
            Мы хотим менять комьюнити, улучшать его. В личном кабинете на сайте
            вы найдете наш собственный курс по криптовалютам, который поможет
            увереннее понимать наши сигналы и разрабатывать свои.
          </p>
        </div>
      </li>

      <li class="tradeblade__item">
        <div class="tradeblade__item-icon">
          <svg class="tradeblade__icon" width="56" height="56">
            <use href="./img/icons.svg#icon-trading5"></use>
          </svg>
        </div>
        <div class="tradeblade__item-title-text">
          <h3 class="tradeblade__item-title">Сильное окружение</h3>
          <p class="tradeblade__text">
            Ты попадаешь в сильное крипто окружение, ведь развиваться легче
            когда нас много. В чате присутствуют люди из нашей команды, которые
            общаються со всеми, помагают и подсказывают.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
